@mapping-color: #87ceeb;
@mapping-waiting-color: #c7f464;
@mapping-audio-color: #ff3d7f;
@mapping-audio-waiting-color: #c7f464;
@mapped-color: #f9d423;
@button-color: #a0cac0;
@button-active: darken(color(@button-color), 20%);

@icon-active: @mapped-color;
@icon-inactive: #d5ded9;
@icon-data: darken(color(@icon-active), 20%);

@tray-height: 100px;

@font-face{
	font-family:FontAwesome;
	src:url(/app/fonts/fontawesome-webfont.eot);
	src:url(/app/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format('embedded-opentype'),
			url(/app/fonts/fontawesome-webfont.woff) format('woff'),
			url(/app/fonts/fontawesome-webfont.svg#fontawesomeregular) format('svg');
	font-weight:400;
	font-style:normal
}
@-webkit-keyframes mappingBorder {
	0% { background-color: inherit }
	100% { background-color: @mapping-color }
}
@-webkit-keyframes mappingWaitingBorder {
	0% { background-color: inherit }
	100% { background-color: @mapping-waiting-color }
}
@-webkit-keyframes mappingAudioBorder {
	0% { background-color: inherit }
	100% { background-color: @mapping-audio-color }
}
@-webkit-keyframes mappingAudioWaitingBorder {
	0% { background-color: inherit }
	100% { background-color: @mapping-audio-waiting-color }
}
@-webkit-keyframes dataFlash {
	0% { 
		fill: @icon-data;
		stroke: @icon-data;
	}
	100% {
		fill: @icon-active;
		stroke: @icon-active;
	}
}

html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

// body conditional stuff -- targets mapping elements
body{
	text-align: left;
	background-color: white;
	color: #333;
	font-family: FontAwesome;

	padding-bottom: @tray-height;

	&.mapping {
		[data-midi-mappable] {

			border: 1px dashed #333;
			box-sizing: border-box;
			margin: -1px;
			color: black;

			&:not([data-midi-linked]) {
				-webkit-animation: mappingBorder 0.5s 0s infinite alternate;
			}

			&.waiting{
				-webkit-animation: mappingWaitingBorder 0.2s 0s infinite alternate;
			}
			&.dial{
				border: 1px dashed #333 !important;
				box-sizing: content-box;
			}
		}
		#mapButton{
			border-bottom: 4px solid @button-active;
			a {
				background: @button-color;
				color: white;
			}
		}

		&.waiting [data-midi-mappable]:not(.waiting) {
			-webkit-animation: none;
		}
	}
	&.mappingAudio{
		[data-audio-mappable] {

			border: 1px dashed #333;
			box-sizing: border-box;
			margin: -1px;
			color: black;

			&:not([data-midi-linked]) {
				-webkit-animation: mappingAudioBorder 0.5s 0s infinite alternate;
			}
			&.waitingAudio{
				-webkit-animation: mappingAudioWaitingBorder 0.2s 0s infinite alternate;
			}
			&.dial{
				border: 1px dashed #333 !important;
				box-sizing: content-box;
			}

		}
	}
	#frequencySelector{
		.range, .button, .rightOfSpectrum>.mapLabel, .qFactorKnob, .qFactorLabel{
			opacity: 0.3;
			pointer-events: none;
		}
	}
	&.mappingAudio.waitingAudio {
		#frequencySelector{
			.range, .button, .rightOfSpectrum>.mapLabel, .qFactorKnob, .qFactorLabel{
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}
[data-midi-linked] {
	border: 1px solid @mapped-color;
	&.file{
		border: none;
		border-left: 4px solid @mapped-color;
		box-sizing: content-box;
	}
	&.dial{
		border: 1px solid @mapped-color !important;
	}
}
.dial{
	padding: 6px 1px !important;
	margin-left: -40px !important;
	margin-top: 9px !important;
	border-radius: 20px;
}

input,textarea{
	outline: none;
}

.right {
	text-align: right;
}
.left {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.logo {
	margin-top: -6px;
	margin-right: 10px;
	vertical-align: middle;
}

// status icon svg stuff
.error svg path, .error svg g{
	fill: @icon-inactive;
	stroke: @icon-inactive;
}

#statusIcons {
	float:right;
}
svg path, svg g{
	fill: @icon-active;
	stroke: @icon-active;
}
#soundCheck svg{
	width: 40px;
	height: 40px;
}
#midiCheck svg{
	width: 35px;
	height: 35px;
}
#kinectCheck svg{
	width: 120px;
	height: 30px;
}

#midiCheck:not(.error) {
	&.data-flash{
		svg path, svg g{
			-webkit-animation: dataFlash 0.3s 1;
		}
	}
}


.nav-tray{
	position: fixed;
	bottom: 5px;
	left: 0;
	right: 0;
	height: @tray-height;

	.button-tray{

		position: absolute;
		bottom:0;
		left:0;
		

	}
}


#paletteZone{
	text-align: center;

	.palette{
		width: 100px;
		height: 20px;
		display: inline-block;
		cursor: pointer;
		padding: 0;
		margin: 0 4px 1px 0;
		box-sizing: border-box;

		.color{
			width: 20%;
			height: 100%;
			display: block;
			float: left;
			position: relative;
		}
	}
}


#volumeBar{
	height: 10px;
	background-color: #ccc !important;
}
#frequencySelector {

	.leftOfSpectrum{
		position: relative;
		float: left;
		width: 80px;
		height: 200px;


		#freqThresh{
			position: absolute;
			top: 0;
			right: 8px;
			height: 100%;
		}
		.dial.gainKnob{
			position: relative;
		}
		.dial.qFactorKnob{
			position: relative;
		}
		.mapLabel.gainLabel{
			position: absolute;
			top: 32px;
			left: 13px;
			margin-bottom: 20px;
		}
		.mapLabel.qFactorLabel{
			position: absolute;
			top: 175px;
			left: 5px;
		}
		.doneAudioMapping{
			position: absolute;
			left:0;
			top:200px;

			padding: 12px;
			font-size: 12px;

		}
	}
	.rightOfSpectrum{
		position: relative;
		float:right;
		width: ~'calc(100% - 80px)';
		height: 260px;

		#frequencyBars{
			// width: 100%;
			height: 200px;
		}
		#freqRange{
			margin-top: 8px;
			.noUi-base .noUi-handle{
				width: 12px;
				
				&.noUi-handle-lower{
					left: -12px;
				}
				&.noUi-handle-upper{
					left: 0px;
				}
				&:before{
					left: 3px;
				}
				&:after{
					left: 6px;
				}
			}
		}

	}
	
	.mapLabel{
		position: relative;
		float: left;
		font-size: 10px;
		margin-top: 8px;
		display: inline-block;
	}

}



#alertWindow{

	opacity: 0;
	pointer-events: none;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	transition: all 0.3s;
	-webkit-transition: all 0.3s;

	perspective: 1000;
	-webkit-perspective: 1000;



	.alertBox{

		position: absolute;
		left: 50%;
		top: 50%;

		zoom: 2;
		-webkit-zoom: 2;

		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		transform: translate(-50%, -70%) rotateX(-70deg) scale(0.5);
		-webkit-transform: translate(-50%, -70%) rotateX(-70deg) scale(0.5);

		transition: all 0.3s;
		-webkit-transition: all 0.3s;

		max-width: 80%;
		width: 100%;
		padding: 20px;
		background-color: white;
		opacity: 0;

		.title{
			font-size: 18px;
			padding-bottom: 15px;
		}
		.message{
			font-size: 12px;
			padding-bottom: 30px;
		}
		textarea {
			width: 100%; 
			height: 200px; 
			unicode-bidi: embed; 
			font-family: monospace; 
			white-space: pre; 
			font-size: 8px;
		}
		.buttons{
			float: right;
			text-align: center;
			margin-left: -5px;
			.button{
				display: inline-block;
				margin: 10px 0 0 10px;
				font-size: 10px;
				padding: 8px;
				&.hidden{
					display: none !important;
				}
				&:focus{
					background: @button-color !important;
					border-bottom: 4px solid @button-active !important;
					outline: none;
				}
			}
		}
		
		
	}
	&.opened{

		pointer-events: auto;
		display: inline-block;
		opacity: 1;

		.alertBox{
			opacity: 1;
			transform: translate(-50%, -50%) rotateX(0deg) scale(0.65);
			-webkit-transform: translate(-50%, -50%) rotateX(0deg) scale(0.65);
		}
	}
}


.button {
	color: #fff;
	background: @button-color;
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
	padding: 15px;
	text-decoration: none;
	transition: all 0.2s;
	cursor: pointer;
	border: 0;

	&.active {
		background: @button-color !important;
		border-bottom: 4px solid @button-active !important;
		outline: none;
		a {
			color: white !important;
		}
	}

	&.small {
		font-size: 12px;
		padding: 10px;
	}
}




.tabs {

	margin-bottom: 1em;

	ul{
		list-style: none;
		padding: 0;
	}

	h3{
		border-bottom: 4px solid #E5E5E5 !important;
		color: #ccc !important;
		font-weight: 300;
		line-height: 186px !important;
	}

	.tabArea{
		background-color: white;
		padding: 0 20px 100px 20px;
	}

	.horizontal, .vertical{

		li {

			a{
				color: #666;
				background-color: #ccc;
				border-bottom: 4px solid #E5E5E5;
				&:hover{
					border-bottom: 4px solid #E5E5E5 !important;
					background: @button-color;
					color: white;
				}
			}
			
			background: #eee;
			margin-right: 10px;
			display: inline-block;
			transition: all 0.2s;
			&:hover, &.active{
				a {
					background: @button-color;
					color: white;
					
				}
			}
			&.active a{
				border-bottom: 4px solid @button-active !important;
			}
		}
	}
}



.effectParam{
	height: 50px;
	width: 100%;
	overflow: hidden;

	.title, .slider, .mapKnob{
		display: inline-block;
		position: relative;
		height: 100%;
	}
	.title{
		width: ~"calc(30% - 30px)";
		span{
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 14px;
			height: 12px;
		}
	}
	.slider{
		width: ~"calc(70% - 35px)";
		.range{
			position: absolute;
			width: ~"calc(100% - 65px)";
			top: 50%;
			transform: translate(0, -50%);
		}
		.rangeText{
			width: 40px;
			height: 20px;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
	}
	.mapKnob{
		width: 50px;
		float: right;
	}

}

ul.fileGroup{
	list-style: none;
	margin-left: 30px;
	padding: 0;
	position: relative;

	

	li.file{
		display: block;
		padding: 5px 0 5px 10px;
		font-size: 18px;
		letter-spacing: 1px;
		cursor: pointer;

		&:hover, &:focus{
			background-color: #c6e2df;
		}

		&:first-child{
			/*border-left: 1px solid #ccc;*/
		}
		&:last-child:before{
			/*border-left: 1px solid #ccc;*/
		}
		&:not(:first-child):not(:last-child) {
			/*border-left: 1px solid #ccc;*/
		}
	}

	&:after{
		position: absolute;
		left: 0;
		top: 10px;
		bottom: 10px;
		border-left: 1px solid #ccc;
		content: '';
	}

	&:before{
		position: absolute;
		left: -40px;
		top: 0;
		font-size: 20px;
		padding: 5px;
	}
	&.opened{
		&:before{
			content: '\f115';

		}
		li{
			display: block;
		}
	}
	&.closed{
		&:before{
			content: '\f114';
		}
		li{
			display: none;
		}
	}

}
#displacementThumbZone {
	text-align: center;
	margin: 20px 0;

	.displacement-thumb {
		width: 200px;
		height: 175px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: inline-block;
		margin: 0 2px;
	}

}

.noUi-target {
	border-radius: 0 !important;
	* {
		border-radius: 0 !important;
	}
}
