
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  text-align: left;
  background-color: white;
  color: #333;
  font-family: sans-serif;
  font-size: 10pt;
}

#statusIcons {
  float:right;
}
svg path, svg g{
  fill: #ABFF96;
  stroke: #ABFF96;
}
#soundCheck svg{
  width: 40px;
  height: 40px;
}
#kinectCheck svg{
  width: 120px;
  height: 30px;
}
.error svg path, .error svg g{
  fill: #FF9494;
  stroke: #FF9494;
  color: red !important;
}

input[type=range] {
  width: 200px;
}

#paletteZone{
  text-align: left;
  padding-left: 10px;
}
.webix_dataview_item.webix_selected:after{
  width: 96px;
  height: 16px;
  border: 2px solid black;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}
.webix_dataview_item{
  position: relative;
}
.palette{
  width: 100px;
  height: 20px;
  display: inline-block;
  /*margin-right: 10px;*/
  padding: 0px !important;
}
.palette.active{
  border: 1px solid white;
  padding: 0;
}
.palette span{
  width: 20%;
  height: 100%;
  display: inline-block;
}
.changeScript{
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
}
.changeScript.active{
  border: 1px solid white;
  padding: 3px 4px;
}
#volumeBar{
  height: 10px;
  background-color: white;
}

#frequencyBars{
  width: 512px;
  height: 200px;
}
#frequencySelector{
  position: relative;
  width: 512px;
  height: 230px;
  left: calc((100% - 512px) / 2);


}
.slider{
  width: 10px;
  height: 25px;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -5px;
  position: absolute;
  cursor: ew-resize;
}

#leftSlider{
  left: 0;
}
#rightSlider{
  left: 100%;
}