
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  text-align: center;
  background-color: #020202;
  color: white;
  font-family: sans-serif;
  font-size: 10pt;
}
a{
  color: #CCC;
  text-decoration: none;
}
table{
  padding-top: 40px;
}
thead{
  font-size: 12pt;
}
td{
  padding: 5px;
}
.right{
  text-align: right;
}
.left{
  /*float: left;*/
  display: inline-block;
  vertical-align: top;
}
#soundCheck,#kinectCheck{
  color: green;
}
.error{
  color: red !important;
}

input[type=range] {
  width: 200px;
}

#paletteZone{
  text-align: left;
  padding-left: 10px;
}
.palette{
  width: 100px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  padding: 1px;
}
.palette.active{
  border: 1px solid white;
  padding: 0;
}
.palette span{
  width: 20%;
  height: 100%;
  display: inline-block;
}
.changeScript{
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
}
.changeScript.active{
  border: 1px solid white;
  padding: 3px 4px;
}
#volumeBar{
  height: 10px;
  background-color: white;
}

#frequencyBars{
  width: 512px;
  height: 200px;
}
#frequencySelector{
  position: relative;
  width: 512px;
  height: 230px;
  left: calc((100% - 512px) / 2);


}
.slider{
  width: 10px;
  height: 25px;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -5px;
  position: absolute;
  cursor: ew-resize;
}

#leftSlider{
  left: 0;
}
#rightSlider{
  left: 100%;
}